@{
    ViewBag.Title = "About";
}


<!DOCTYPE HTML>
<html>
<head>


    <script src="~/Scripts/modernizr.custom.28468.js"></script>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <link href="~/Scripts/magnific-popup.css" rel="stylesheet" />
    <script src="~/Scripts/menu.js"></script>
    <link href="~/Scripts/style.css" rel="stylesheet" />
    <link href="~/Scripts/slider.css" rel="stylesheet" />

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />

    <link rel="stylesheet" type="text/css" href="css/magnific-popup.css">
    <script src="js/jquery.min.js"></script>
</head>
<body>

    <div class="content" id="home">

        <!-----script------------->
        <script type="text/javascript" src="js/menu.js"></script>

        <div class="slider" id="home">
            <div class="wrap">
                <!---start-da-slider----->
                <div id="da-slider" class="da-slider">
                    <div class="da-slide">
                        <h2>Best Ideas Start On Paper</h2>

                    </div>
                    <div class="da-slide">

                    </div>
                    <div class="da-slide">


                    </div>
                    <div class="da-slide">


                    </div>
                </div>

                <script type="text/javascript" src="js/jquery.cslider.js"></script>
                <!---strat-slider---->
                <link rel="stylesheet" type="text/css" href="css/slider.css" />
                <script type="text/javascript" src="js/modernizr.custom.28468.js"></script>
                <script type="text/javascript">
                    $(function () {

                        $('#da-slider').cslider({
                            autoplay: true,
                            bgincrement: 450
                        });

                    });
                </script>


            </div>
        </div>
    </div>

    <div class="team" id="team">
        <div class="wrap">
            <div class="section group">
                <div class="col_1_of_1 span_1_of_1">
                    <h3>Hotel Management System</h3>
                    <h4> We help make you feel like you're at home.</h4>
                    <h4 class="h4">Why is it so great?</h4>
                    <p>
                        Our hotel management system provides the right blend of service, luxury and quiet efficiency.
                        It has been deisgn with the idea of simple management, for both employees and our guests.
                        A distinctive feature of the hotel management system, is that everything can be viewed in a few simple steps.
                        Another feature we aimed to have is simple online reservations.
                        Our hotel management system has established a reputation for simplicity. We care about our guests, as we see them as part of our family.
                    </p>
                </div>

            </div>
        </div>
    </div>



</body>
</html>