<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Hotel Management System</title>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
        body {
            background-image: url(../images/cover.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>

</head>


<body>
    <hr />


    <div class="text-center">
        <h1 class="display-4">Hotel Management System</h1>
        <p style="font-size: 24px;">
            We help make you feel like you're at home.
        </p>
    </div>






</body>

</html>